/* PROJECTS : AMCORP PROPERTIES */
/* CREATOR : LUCAS */
/* DATE : 12/02/2020 */

html { margin: 0; padding: 0; }


$theme-colors: (
    "primary": #007AB3,
    "danger": #FF0000,
    "warning": #EFBE25,
    "success": #1E8927,
    "Light": #FFFFFF,
    "Dark": #222222,
);

// GOOGLE FONT
@import url('https://fonts.googleapis.com/css?family=Poppins:300,500,600,700&display=swap');




// Colour Variables
$color-white: #FFFFFF;
$color-grey-pri: #222222;
$color-grey-sec: #8B8B8B; 
$color-grey-thi: #E1E1E1; 


// COLOUR SETTINGS
.txt-lightText {color: $color-white;}
.txt-darkText {color: $color-grey-pri;}
.txt-grey-sec {color: $color-grey-sec;}
.txt-grey-thi {color: $color-grey-thi;}



.pageWrap {
    .masthead { background-color: $color-grey-thi; margin-bottom: 1rem; }
    .bodyContainer { background-color: $color-white; }   
}